SECRET_KEY=super-secret-key
DEBUG=True
CELERY_BROKER_URL=redis://redis:6379/0
DATABASE_URL=postgres://postgres:postgres@db:5432/parser_db

# s3 
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_STORAGE_BUCKET_NAME=my-bucket
AWS_S3_ENDPOINT_URL=https://s3.yourservice.com
