POSTGRES_USER=esmeralda
POSTGRES_PASSWORD=supersecretpassword

# Prod databases
PROD_DB_SERVICE_A=prod_service_a
PROD_DB_SERVICE_B=prod_service_b

# Test databases
TEST_DB_SERVICE_A=test_service_a
TEST_DB_SERVICE_B=test_service_b