services:
  # postgres:
  #   image: postgres:15
  #   container_name: online-spy-postgres
  #   restart: always
  #   env_file:
  #     - .env
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"
  #   networks:
  #     - network1
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: fastapi_app
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000
    expose:
      - 8000
    ports:
      - "8000:8000"
    depends_on:
      - minio

  # celery:
  #   build: .
  #   container_name: celery_worker
  #   command: uv run celery -A tasks worker --loglevel=info
  #   depends_on:
  #     - redis

  # flower:
  #   image: mher/flower
  #   command: celery flower -A tasks --port=5555
  #   depends_on:
  #     - celery

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      proxy:
    ports:
      - 80:80
      - 443:443
    environment:
      - CF_API_EMAIL=sf5100050@gmail.com
      - CF_DNS_API_TOKEN=nNNgev4e7QKVliwmLBx-QXC_TpeO_eh0KA4AHAq_
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yaml:/traefik.yaml:ro
      - ./traefik/acme.json:/acme.json
      - ./traefik/config.yaml:/config.yaml:ro
      - ./traefik/logs:/var/log/traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.rule=Host(`traefik.aaf-bet.ru`)"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=admin:password12345"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.aaf-bet.ru`)"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=aaf-bet.ru"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.aaf-bet.ru"
      - "traefik.http.routers.traefik-secure.service=api@internal"

networks:
  proxy:
    name: proxy
    external: true

volumes:
  postgres_data:
  minio-data:
