services:
  # postgres:
  #   image: postgres:15
  #   container_name: online-spy-postgres
  #   restart: always
  #   env_file:
  #     - .env
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"
  #   networks:
  #     - network1
<<<<<<< HEAD
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: fastapi_app
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000
    expose:
      - 8000
    ports:
        - "8000:8000"
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.web.rule=Host(`api.localhost`)"
        - "traefik.http.routers.web.entrypoints=web"
        - "traefik.http.services.web.loadbalancer.server.port=8000"
    depends_on:
      - minio

  celery:
    build: .
    container_name: celery_worker
    command: uv run celery -A tasks worker --loglevel=info
    depends_on:
      - redis
  
  flower:
    image: mher/flower
    command: celery flower -A tasks --port=5555
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flower.rule=Host(`flower.localhost`)"
      - "traefik.http.routers.flower.entrypoints=web"
      - "traefik.http.services.flower.loadbalancer.server.port=5555"
    depends_on:
      - celery
=======
>>>>>>> bcf539546fbd8937c9123a805765e1bfd4ff5b7f

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
<<<<<<< HEAD
      - "9001:9001"
    env_file:
      - .env
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.web.rule=Host(`cdn.localhost`)"
        - "traefik.http.routers.web.entrypoints=web"
        - "traefik.http.services.web.loadbalancer.server.port=9000"
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  traefik:
    image: "traefik:v3.3"
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
=======
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

>>>>>>> bcf539546fbd8937c9123a805765e1bfd4ff5b7f
volumes:
  postgres_data:
  minio-data:
