services:
  web:
    build: .
    container_name: fastapi_app
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    depends_on:
      - minio
      - redis
    networks:
      - proxy

  celery:
    build: .
    container_name: celery_worker
    command: uv run celery -A tasks worker --loglevel=info
    env_file:
      - .env.dev
    depends_on:
      - redis
    networks:
      - proxy

  flower:
    image: mher/flower
    command: celery flower -A tasks.celery_app --address=0.0.0.0 --port=5555
    ports:
      - "5555:5555"
    env_file:
      - .env.dev
    depends_on:
      - celery
      - redis
    networks:
      - proxy

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - proxy

  minio:
    image: minio/minio:latest
    container_name: minio
    env_file:
      - .env.dev
    ports:
      - "9001:9001"
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    networks:
      - proxy

networks:
  proxy:
    driver: bridge

volumes:
  minio-data:
