name: Deploy to Production

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          cat > .env << EOF
          MINIO_ROOT_USER=${{secrets.MINIO_ROOT_USER}}
          MINIO_ROOT_PASSWORD=${{secrets.MINIO_ROOT_PASSWORD}}
          BUCKET_NAME=${{secrets.BUCKET_NAME}}
          MINIO_PROMETHEUS_AUTH_TYPE=${{secrets.MINIO_PROMETHEUS_AUTH_TYPE}}

          CF_API_EMAIL=${{secrets.CF_API_EMAIL}}
          CF_DNS_API_TOKEN=${{secrets.CF_DNS_API_TOKEN}}

          CELERY_BROKER_URL=${{secrets.CELERY_BROKER_URL}}
          CELERY_RESULT_BACKEND=${{secrets.CELERY_RESULT_BACKEND}}

          FLOWER_PORT=${{secrets.FLOWER_PORT}}
          FLOWER_UNAUTHENTICATED_API=${{secrets.FLOWER_UNAUTHENTICATED_API}}

          APP_MODE=${{secrets.APP_MODE}}

          TELEGRAM_BOT_TOKEN=${{secrets.TELEGRAM_BOT_TOKEN}}
          TELEGRAM_CHAT_ID=${{secrets.TELEGRAM_CHAT_ID}}
          TELEGRAM_TOPIC_ID=${{secrets.TELEGRAM_TOPIC_ID}}

          SECRET_KEY=${{secrets.SECRET_KEY}}
          ALGORITHM=${{secrets.ALGORITHM}}
          ACCESS_TOKEN_EXPIRE_MINUTES=${{secrets.ACCESS_TOKEN_EXPIRE_MINUTES}}

          POSTGRES_HOST=${{secrets.POSTGRES_HOST}}
          POSTGRES_PORT=${{secrets.POSTGRES_PORT}}
          POSTGRES_USER=${{secrets.POSTGRES_USER}}
          POSTGRES_PASSWORD=${{secrets.POSTGRES_PASSWORD}}
          POSTGRES_DB=${{secrets.POSTGRES_DB}}
          # Добавьте другие переменные окружения
          EOF

      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "~/app"
          rm: true

      - name: Deploy with Docker Compose
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/app

            # Создание необходимых директорий и файлов
            mkdir -p traefik/logs
            touch traefik/acme.json
            chmod 600 traefik/acme.json

            # Остановка старых контейнеров
            docker-compose -f docker-compose.prod.yaml down

            # Очистка неиспользуемых образов
            docker system prune -f

            # Запуск новых контейнеров
            docker-compose -f docker-compose.prod.yaml up -d --build

            # Проверка статуса
            docker-compose -f docker-compose.prod.yaml ps
